[submodule "hiredis"]
	path = modules/hiredis
	url = git@github.com:redis/hiredis.git
	branch = v1.2.0
[submodule "redis"]
	path = modules/redis
	url = git@github.com:redis/redis.git
[submodule "RedisJSON"]
	path = modules/RedisJSON
	url = git@github.com:RedisJSON/RedisJSON.git
